/// Mixins reference: https://www.sitepoint.com/sass-theming-neverending-story/
$themes: (
  classic: (
    'heading': #ed9123, 'heading-light': #ee9a35, 'heading-dark': #e98813,
    'accent': #4794f0, 'accent-light': #4794f0, 'accent-dark': #4794f0,
    'primary-fc': #fffefd, 'primary-fc-light': #ee9a35, 'primary-fc-dark': #e98813,
    'secondary-fc': #878787, 'secondary-fc-light': #949494, 'secondary-fc-dark': #7a7a7a,
    'primary-bc':#040609, 'primary-bc-light': #141e2c, 'primary-bc-dark': #000000
  ),
  pure: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #7db3f4, 'primary-fc-light': #accef8, 'primary-fc-dark': #4e98f0,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #fffefd, 'primary-bc-light': #ffffff, 'primary-bc-dark': #ffe5ca
  ),
  cozy: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #7db3f4, 'primary-fc-light': #accef8, 'primary-fc-dark': #4e98f0,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #fffefd, 'primary-bc-light': #ffffff, 'primary-bc-dark': #ffe5ca
  ),
  sandy: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #7db3f4, 'primary-fc-light': #accef8, 'primary-fc-dark': #4e98f0,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #fffefd, 'primary-bc-light': #ffffff, 'primary-bc-dark': #ffe5ca
  ),
  wind: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #fffefd, 'primary-fc-light': #ee9a35, 'primary-fc-dark': #e98813,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #73bcc3, 'primary-bc-light': #97cdd2, 'primary-bc-dark': #4fabb4
  ),
  forest: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #73bcc3, 'primary-fc-light': #97cdd2, 'primary-fc-dark': #4fabb4,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #73bcc3, 'primary-bc-light': #97cdd2, 'primary-bc-dark': #4fabb4
  ),
  silence: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #73bcc3, 'primary-fc-light': #97cdd2, 'primary-fc-dark': #4fabb4,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #73bcc3, 'primary-bc-light': #97cdd2, 'primary-bc-dark': #4fabb4
  ),
  whale: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #faf3cc, 'accent-light': #fcf8e3, 'accent-dark': #f8eeb5,
    'primary-fc': #eff8fd, 'primary-fc-light': #ffffff, 'primary-fc-dark': #d8eefa,
    'secondary-bc': #cceafa, 'secondary-bc-light': #e3f4fc, 'secondary-bc-dark': #b5e0f8,
    'primary-bc': #1278af, 'primary-bc-light': #1698dd, 'primary-bc-dark': #0d5881
  ),
  diamond: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #73bcc3, 'primary-fc-light': #97cdd2, 'primary-fc-dark': #4fabb4,
    'secondary-bc': #cceafa, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #82c06b, 'primary-bc-light': #ffffff, 'primary-bc-dark': #ffe5ca
  ),
  dizzy: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #73bcc3, 'primary-fc-light': #97cdd2, 'primary-fc-dark': #4fabb4,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #82c06b, 'primary-bc-light': #ffffff, 'primary-bc-dark': #ffe5ca
  ),
  ruby: (
    'heading': #368aee, 'heading-light': #4e98f0, 'heading-dark': #1e7cec,
    'accent': #eff47d, 'accent-light': #f5f8ac, 'accent-dark': #e9f04e,
    'primary-fc': #73bcc3, 'primary-fc-light': #97cdd2, 'primary-fc-dark': #4fabb4,
    'secondary-bc': #fae0c0, 'secondary-bc-light': #fef8f0, 'secondary-bc-dark': #f8d5a9,
    'primary-bc': #82c06b, 'primary-bc-light': #ffffff, 'primary-bc-dark': #ffe5ca
  )
) !default;

/// Themify mixin
/// @access private
/// @author Hugo Giraudel
/// @param {String} $property - Property to themify
/// @param {String} $key - Key color to use from theme
/// @param {Map} $themes [$themes] - Map of themes to use
@mixin themify($property, $key, $themes: $themes) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.theme-#{$theme},
    .theme-#{$theme} & {
      // Output the declaration
      #{$property}: map-get($colors, $key);
    }
  }
}

/// Shorthand to themify color through `themify` mixin
/// @access public
/// @see {mixin} themify
@mixin color($arguments...) {
  @include themify('color', $arguments...);
}

/// Shorthand to themify border-color through `themify` mixin
/// @access public
/// @see {mixin} themify
@mixin border-color($arguments...) {
  @include themify('border-color', $arguments...);
}
@mixin border-top-color($arguments...) {
  @include themify('border-top-color', $arguments...);
}
@mixin border-right-color($arguments...) {
  @include themify('border-right-color', $arguments...);
}
@mixin border-bottom-color($arguments...) {
  @include themify('border-bottom-color-color', $arguments...);
}
@mixin border-left-color($arguments...) {
  @include themify('border-left-color', $arguments...);
}

/// Shorthand to themify background-color through `themify` mixin
/// @access public
/// @see {mixin} themify
@mixin background-color($arguments...) {
  @include themify('background-color', $arguments...);
}
