/// Mixins reference: https://www.sitepoint.com/sass-theming-neverending-story/
$themes: (
  classic: (
    'primary-bc': #040609,
    'primary-bc-lighten': lighten(#040609, 10%),
    'primary-bc-darken': darken(#040609, 10%),
    'primary-fc': #fcfdff,
    'primary-fc-lighten': lighten(#fcfdff, 10%),
    'primary-fc-darken': darken(#fcfdff, 10%),
    'secondary-fc': #878787,
    'secondary-fc-lighten': lighten(#878787, 10%),
    'secondary-fc-darken': darken(#878787, 10%),
    'heading-fc': #ed9123,
    'heading-fc-lighten': lighten(#ed9123, 10%),
    'heading-fc-darken': darken(#ed9123, 10%),
    'active-fc': #ed9123,
    'active-fc-lighten': lighten(#ed9123, 10%),
    'active-fc-darken': darken(#ed9123, 10%),
    'visited-fc': #4794f0,
    'visited-fc-lighten': lighten(#4794f0, 10%),
    'visited-fc-darken': darken(#4794f0, 10%)
  ),
  sunset: (
    'primary-bc': #fffdfc,
    'primary-bc-lighten': lighten(#fffdfc, 10%),
    'primary-bc-darken': darken(#fffdfc, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  cozy: (
    'primary-bc': #fffdfc,
    'primary-bc-lighten': lighten(#fffdfc, 10%),
    'primary-bc-darken': darken(#fffdfc, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  sandy: (
    'primary-bc': #fffdfc,
    'primary-bc-lighten': lighten(#fffdfc, 10%),
    'primary-bc-darken': darken(#fffdfc, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  wind: (
    'primary-bc': #73bcc3,
    'primary-bc-lighten': lighten(#73bcc3, 10%),
    'primary-bc-darken': darken(#73bcc3, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  forest: (
    'primary-bc': #82c06b,
    'primary-bc-lighten': lighten(#82c06b, 10%),
    'primary-bc-darken': darken(#82c06b, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  silence: (
    'primary-bc': #fffdfc,
    'primary-bc-lighten': lighten(#fffdfc, 10%),
    'primary-bc-darken': darken(#fffdfc, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  whale: (
    'primary-bc': #fffdfc,
    'primary-bc-lighten': lighten(#fffdfc, 10%),
    'primary-bc-darken': darken(#fffdfc, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  diamond: (
    'primary-bc': #7db9e8,
    'primary-bc-lighten': lighten(#7db9e8, 10%),
    'primary-bc-darken': darken(#7db9e8, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  dizzy: (
    'primary-bc': #fffdfc,
    'primary-bc-lighten': lighten(#fffdfc, 10%),
    'primary-bc-darken': darken(#fffdfc, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  ),
  ruby: (
    'primary-bc': #e33d3d,
    'primary-bc-lighten': lighten(#e33d3d, 10%),
    'primary-bc-darken': darken(#e33d3d, 10%),
    'primary-fc': #0f0901,
    'primary-fc-lighten': lighten(#0f0901, 10%),
    'primary-fc-darken': darken(#0f0901, 10%),
    'secondary-fc': #211303,
    'secondary-fc-lighten': lighten(#211303, 10%),
    'secondary-fc-darken': darken(#211303, 10%),
    'heading-fc': #4794f0,
    'heading-fc-lighten': lighten(#4794f0, 10%),
    'heading-fc-darken': darken(#4794f0, 10%),
    'active-fc': #f4be7d,
    'active-fc-lighten': lighten(#f4be7d, 10%),
    'active-fc-darken': darken(#f4be7d, 10%),
    'visited-fc': #7db3f4,
    'visited-fc-lighten': lighten(#7db3f4, 10%),
    'visited-fc-darken': darken(#7db3f4, 10%)
  )
) !default;

/// Themify mixin
/// @access private
/// @author Hugo Giraudel
/// @param {String} $property - Property to themify
/// @param {String} $key - Key color to use from theme
/// @param {Map} $themes [$themes] - Map of themes to use
@mixin themify($property, $key, $themes: $themes) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.theme-#{$theme},
    .theme-#{$theme} & {
      // Output the declaration
      #{$property}: map-get($colors, $key);
    }
  }
}

/// Shorthand to themify color through `themify` mixin
/// @access public
/// @see {mixin} themify
@mixin color($arguments...) {
  @include themify('color', $arguments...);
}

/// Shorthand to themify border-color through `themify` mixin
/// @access public
/// @see {mixin} themify
@mixin border-color($arguments...) {
  @include themify('border-color', $arguments...);
}
@mixin border-top-color($arguments...) {
  @include themify('border-top-color', $arguments...);
}
@mixin border-right-color($arguments...) {
  @include themify('border-right-color', $arguments...);
}
@mixin border-bottom-color($arguments...) {
  @include themify('border-bottom-color-color', $arguments...);
}
@mixin border-left-color($arguments...) {
  @include themify('border-left-color', $arguments...);
}

/// Shorthand to themify background-color through `themify` mixin
/// @access public
/// @see {mixin} themify
@mixin background-color($arguments...) {
  @include themify('background-color', $arguments...);
}
