@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearstyle-list {
  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
