@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearstyle-edge {
  padding: 0;
  margin: 0;
}

@mixin clearstyle-list {
  list-style-type: none;
}

@mixin transition ($property: (), $duration: (), $time: (), $delay: ()) {
  $transition-list: ();
  @for $i from 1 through length($property) {
    $pr: nth($property, $i);
    $du: if(length($duration) != 0, if(length($duration) == 1, $duration, nth($duration, $i)), .4s);
    $ti: if(length($time) != 0, if(length($time) == 1, $time, nth($time, $i)), '');
    $de: if(length($delay) != 0, if(length($delay) == 1, $delay, nth($delay, $i)), '');
    $transition: $pr + ' ' + $du + if($ti != '', ' ' + $ti, '') + if($de != '', ' ' + $de, '');
    $transition-list: join($transition-list, inspect(unquote($transition)), comma);
  }
  transition: $transition-list;
}
