$category-mtb: 1rem;
$category-list-pl: 1.5rem;
$category-list-ml: 1.5rem;
$category-list-mr: 1rem;

%font-color-transition {
  transition : color .2s ease-in;
}
%border-color-transition {
  transition : border-color .4s ease-in;
}

%category-base {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  overflow-y: auto;
  @include color('primary-fc');
  @include background-color('primary-bc');

  h1 {
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom: .5em;
    margin-bottom: 0;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 400;
    padding-bottom: .3em;
    margin-bottom: 0;
  }
  p {
    font-size: 1em;
    padding-bottom: .2em;
    margin-bottom: 0;
  }
  @include clearstyle-list;
}

@mixin item-container {
  position: relative;
  padding: 0 0 1px $category-list-pl;
  margin-left: $category-list-ml;
  margin-right: $category-list-mr;
  @include border-left-color('primary-bc');
  border-left-style: solid;
  border-left-width: 1px;

  &#{&}__with-time-line {
    @include border-left-color('secondary-fc');
  }
}

.category {
  @extend %category-base;

  &_zone {
    margin: $category-mtb 0;

    &#{&}__latest-articles {
    }

    &#{&}__archive {
    }
  }

  &_icon {
    &-stack {
      position: absolute;
      left: -1em;
      font-size: .75em;
      @include background-color('primary-bc');

      a:visited > & {
        @include color('visited-fc');
      }
    }

    &-wrapper {
      @include color('secondary-fc');
    }

    & {
    }
  }

  &_heading {
    @include item-container;
    @include color('active-fc');
  }
}

.category-post {
  @include item-container;

  &_title {
    @include color('primary-fc');
    @extend %font-color-transition;
  }
  &:hover &_title {
    @include color('active-fc');
  }

  &_excerpt {
    @include color('secondary-fc');
    margin-bottom: .3em;
    @extend %font-color-transition;
  }
  &:hover &_excerpt {
    @include color('primary-fc');
  }

  &_meta {
    @include color('secondary-fc');
    font-style: italic;

    &-date {
      @extend %font-color-transition;
    }
    &-comments {
      @extend %font-color-transition;
    }
  }
  &:hover &_meta {
    &-date {
      @include color('primary-fc');
    }
    &-comments {
      @include color('primary-fc');
    }
  }

  &_view-more-articles {
    margin: $category-mtb 0;
    text-align: center;
    font-size: .875em;
  }

  &_btn {
    padding: .5em 1em;
    @include border-color('secondary-fc');
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    @extend %border-color-transition;

    &:hover {
      @include border-color('primary-fc');
    }
  }
}
