$overview-margin: 0 0 20px 0;
$overview-padding: 10px 0 25px 0;
$overview-zone-margin: 15px 0 15px 0;
// 1px padding-bottom for avoiding margin collapsing
$overview-list-padding: 0 0 1px 30px;
$overview-list-margin: 0 20px 0 36px;
$overview-link-bar-padding: 5px 20px 5px 20px;
$overview-link-bar-margin: 0 get-right-value($overview-list-margin) 10px get-left-value($overview-list-margin);
$overview-link-tag-padding: list-scale($overview-link-bar-padding, .5);
$overview-link-tag-margin: 0 5px 5px 0;


@mixin font-color-transition {
  transition : color .2s ease-in;
}
@mixin border-color-transition {
  transition : border-color .4s ease-in;
}

%overview-base {
  width: 100%;
  height: 100%;
  padding: $overview-padding;
  font-size: 1rem;
  overflow-y: auto;
  @include color('primary-fc');
  @include background-color('primary-bc');

  h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: .5em;
    margin-bottom: 0;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: .3em;
    margin-bottom: 0;
  }
  p {
    font-size: 1em;
    padding-bottom: .2em;
    margin-bottom: 0;
  }
  @include clearstyle-list;
}

// create an item container
// @param   {enumerable string}  type: the type of the container
@mixin item-container ($type) {
  @if $type == 'heading' {
    position: relative;
    padding: $overview-list-padding;
    margin-left: get-left-value($overview-list-margin);
    margin-right: get-right-value($overview-list-margin);
    @include border-left-color('primary-bc');
    border-left-style: solid;
    border-left-width: 1px;

    #{glue-class-modifier('__with-time-line')} {
      @include border-left-color('secondary-fc-darken');
    }
  } @else if $type == 'entry' {
    margin-left: get-left-value($overview-list-margin);
    margin-right: get-right-value($overview-list-margin);
  } @else {
    @warn 'Container type \'#{$type}\' didn\'t define.';
  }
}

// create an link
// @param   {enumerable string}  type: the type of the link
@mixin item-link ($type) {
  @if $type == 'bar' {
    display: block;
    padding: $overview-link-bar-padding;
    margin: $overview-link-bar-margin;
    @include background-color('primary-bc-darken');
    @include color('secondary-fc');
    @include font-color-transition;

    &:hover {
      @include background-color('primary-bc-lighten');
      @include color('primary-fc');
    }
  } @else if $type == 'tag' {
    display: inline-block;
    padding: $overview-link-tag-padding;
    margin: $overview-link-tag-margin;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    @include background-color('primary-bc-darken');
    @include color('secondary-fc');
    @include font-color-transition;

    &:hover {
      @include background-color('primary-bc-lighten');
      @include color('primary-fc');
    }
  } @else {
    @warn 'Link type \'#{$type}\' didn\'t define.';
  }
}

.overview {
  @extend %overview-base;

  &_zone {
    @include clearfix;
    margin: $overview-zone-margin;

    #{glue-class-modifier('__latest-articles')} {
    }

    #{glue-class-modifier('__categories')} {
    }

    #{glue-class-modifier('__tags')} {
    }

    #{glue-class-modifier('__archives')} {
    }
  }

  &_heading {
    @include item-container('heading');
    @include color('active-fc');
  }

  &_category-heading {
    float: left;
    @include item-container('heading');
    @include color('active-fc');
    font-size: 2em;
    font-weight: 500;
  }
  &_category-sub-heading {
    float: right;
    @include item-container('heading');
    @include color('active-fc');
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
  }
}

.overview .overview-icon {
  position: absolute;
  left: -1em;
  font-size: .75em;
  @include background-color('primary-bc');

  @at-root #{prepend-selector('a >')} {
    @include color('secondary-fc-darken');
  }

  @at-root #{prepend-selector('a:visited >')} {
    @include color('visited-fc');
  }

  &_wrapper {
    @include color('secondary-fc-darken');
  }

  &_itselft {
  }
}

.overview .overview-post {
  @include item-container('heading');

  &_title {
    @include color('primary-fc');
    @include font-color-transition;
  }
  &:hover #{get-last-selector()}_title {
    @include color('active-fc');
  }

  &_excerpt {
    @include color('secondary-fc');
    margin-bottom: .3em;
    @include font-color-transition;
  }
  &:hover #{get-last-selector()}_excerpt {
    @include color('primary-fc');
  }

  &_meta {
    @include color('secondary-fc');
    font-style: italic;

    & #{get-last-selector()}-date {
      @include font-color-transition;
    }
    & #{get-last-selector()}-comments {
      @include font-color-transition;
    }
  }
  &:hover #{get-last-selector()}_meta {
    & #{get-last-selector()}-date {
      @include color('primary-fc');
    }
    & #{get-last-selector()}-comments {
      @include color('primary-fc');
    }
  }

  &_view-more-articles {
    margin: $overview-zone-margin;
    text-align: center;
    font-size: .875em;
  }

  &_btn {
    display: inline-block;
    padding: .5em 1em;
    @include border-color('secondary-fc-darken');
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    @include border-color-transition;

    &:hover {
      @include border-color('primary-fc');
    }
  }
}

.overview .overview-categories {
  &_link {
    @include item-link('bar');
  }
  &_name {
  }
}

.overview .overview-tags {
  display: inline-block;

  &_container {
    @include item-container('entry');
  }

  &_link {
    @include item-link('tag');
  }
  &_name {
  }
}

.overview .overview-archive {
  &_link {
    @include item-link('bar');
  }
  &_date {

  }
  &_count {
    float: right;
  }
}
