$overview-mtb: 20px;
$overview-list-pl: 30px;
$overview-list-ml: 36px;
$overview-list-mr: 20px;
$overview-link-mtb: 10px;
$overview-link-mlr: get-right-value($overview-list-margin) / 2;

@mixin font-color-transition {
  transition : color .2s ease-in;
}
@mixin border-color-transition {
  transition : border-color .4s ease-in;
}

%overview-base {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  overflow-y: auto;
  @include color('primary-fc');
  @include background-color('primary-bc');

  h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: .5em;
    margin-bottom: 0;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: .3em;
    margin-bottom: 0;
  }
  p {
    font-size: 1em;
    padding-bottom: .2em;
    margin-bottom: 0;
  }
  @include clearstyle-list;
}

// create an item container
// @param   {enumerable string}  type: the type of the container
@mixin item-container ($type) {
  @if $type == 'heading' {
    position: relative;
    padding: $overview-list-padding;
    margin-left: get-left-value($overview-list-margin);
    margin-right: get-right-value($overview-list-margin);
    @include border-left-color('primary-bc');
    border-left-style: solid;
    border-left-width: 1px;

    #{glue-class-modifier('__with-time-line')} {
      @include border-left-color('secondary-fc-darken');
    }
  } @else if $type == 'entry' {
    margin-left: get-left-value($overview-list-margin);
    margin-right: get-right-value($overview-list-margin);
  } @else {
    @warn 'Container type \'#{$type}\' didn\'t define.';
  }
}

// create an link
// @param   {enumerable string}  type: the type of the link
@mixin item-link ($type) {
  @if $type == 'bar' {
    display: block;
    padding: .3em 1.2em;
    margin: $overview-link-mtb $overview-link-mlr;
    @include background-color('primary-bc-darken');
    @include color('secondary-fc');
    @include font-color-transition;

    &:hover {
      @include background-color('primary-bc-lighten');
      @include color('primary-fc');
    }
  }
  @if $type == 'tag' {
    display: inline-block;
    padding: .2em .5em;
    margin: $overview-link-mtb/2 $overview-link-mlr/2;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    @include background-color('primary-bc-darken');
    @include color('secondary-fc');
    @include font-color-transition;

    &:hover {
      @include background-color('primary-bc-lighten');
      @include color('primary-fc');
    }
  }
}

.overview {
  @extend %overview-base;

  &_zone {
    margin: $overview-margin;

    #{glue-class-modifier('__latest-articles')} {
    }

    #{glue-class-modifier('__categories')} {
    }

    #{glue-class-modifier('__tags')} {
    }

    #{glue-class-modifier('__archives')} {
    }
  }

  &_icon {
    &-stack {
      position: absolute;
      left: -1em;
      font-size: .75em;
      @include background-color('primary-bc');

      a:visited > & {
        @include color('visited-fc');
      }
    }

    &-stack &-wrapper {
      @include color('secondary-fc-darken');
    }

    &-stack & {
    }
  }

  &_heading {
    @include item-container('heading');
    @include color('active-fc');
  }
}

.overview .overview-post {
  @include item-container('heading');

  &_title {
    @include color('primary-fc');
    @include font-color-transition;
  }
  &:hover &_title {
    @include color('active-fc');
  }

  &_excerpt {
    @include color('secondary-fc');
    margin-bottom: .3em;
    @include font-color-transition;
  }
  &:hover &_excerpt {
    @include color('primary-fc');
  }

  &_meta {
    @include color('secondary-fc');
    font-style: italic;

    & &-date {
      @include font-color-transition;
    }
    & &-comments {
      @include font-color-transition;
    }
  }
  &:hover &_meta {
    & &-date {
      @include color('primary-fc');
    }
    & &-comments {
      @include color('primary-fc');
    }
  }

  &_view-more-articles {
    margin: get-top-value($overview-margin) 0;
    text-align: center;
    font-size: .875em;
  }

  &_btn {
    padding: .5em 1em;
    @include border-color('secondary-fc-darken');
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    @include border-color-transition;

    &:hover {
      @include border-color('primary-fc');
    }
  }
}

.overview .overview-categories {
  &_link {
    @include item-link('bar');
  }
  &_name {
  }
}

.overview .overview-tags {
  display: inline-block;

  &_container {
    @include item-container('entry');
  }

  &_link {
    @include item-link('tag');
  }
  &_name {
  }
}

.overview .overview-archive {
  &_link {
    @include item-link('bar');
  }
  &_date {

  }
  &_count {
    float: right;
  }
}
