$overview-padding: 10px 0 25px 0;
$overview-paragraph-padding: 0 0 5px 0;
$overview-paragraph-margin: 0 0 0 0;

$overview-topic-nav-padding: 0 0 0 0;
$overview-topic-nav-margin: 0 15px 0 15px;
$overview-topic-item-padding: 5px 5px 5px 5px;
$overview-topic-item-margin: 10px 10px 10px 10px;

$overview-block-padding: 0 0 0 0;
$overview-block-margin: 10px 0 10px 0;
// 1px padding-bottom for avoiding margin collapsing
$overview-item-padding: 0 0 8px 30px;
$overview-item-margin: 0 20px 0 35px;
$overview-link-btn-padding: .5em 1em .5em 1em;
$overview-link-btn-margin: 5px 10px 5px 10px;
$overview-link-bar-padding: 5px 20px 5px 20px;
$overview-link-bar-margin: 0 get-right-value($overview-item-margin) 10px get-left-value($overview-item-margin);
$overview-link-tag-padding: scale-list($overview-link-bar-padding, .5);
$overview-link-tag-margin: 0 5px 5px 0;

%overview-heading-base {
  cursor: default;
}

%overview-h1 {
  @extend %overview-heading-base;
  @include clearstyle-edge;
  @include color('heading');
  font-size: 1.5em; @include transition((color, font-size, font-style));
  font-weight: 400; font-style: italic;
  &:hover {
    font-size: 2em; font-style: normal;
  }
}

%overview-h2 {
  @extend %overview-heading-base;
  @include clearstyle-edge;
  @include color('heading'); @include transition(color);
  font-size: 1.5em; font-weight: 400;
  &:hover {}
}

%overview-h3 {
  @extend %overview-heading-base;
  @include clearstyle-edge;
  @include color('primary-fc'); @include transition(color);
  font-size: 1.25em; font-weight: 300;
  &:hover {
    @include color('primary-fc-light');
  }
}

%overview-p {
  @extend %overview-heading-base;
  padding: $overview-paragraph-padding;
  margin: $overview-paragraph-margin;
  @include color('secondary-fc'); @include transition(color);
  font-size: 1em;
  &:hover {
    @include color('primary-fc');
  }
}

%overview-anchor {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

%overview-btn {
  @extend %overview-anchor;
  padding: $overview-link-btn-padding;
  margin: $overview-link-btn-margin;
  @include border-color('secondary-fc-dark');
  border-style: solid; border-width: 1px; border-radius: 1em;
  color: inherit; font-size: .875em;
  @include background-color('primary-bc-dark');
  @include transition((border-color, background-color));
  &:hover {
    @include border-color('primary-fc');
    @include background-color('primary-bc-light');
  }
}

%overview-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  &:hover {}
}

%overview-li {}
%overview-li:hover {}

%overview-meta {
  @include color('secondary-fc'); @include transition(color);
  &:hover {}
}

%overview-meta-element {
  @include color('secondary-fc'); @include transition(color);
  &:hover {
    @include color('primary-fc');
  }
}

// create an item container
// @param   {enumerable string}  type: the type of the container
@mixin item-wrapper ($type) {
  @if $type == 'heading' {
    position: relative;
    padding: $overview-item-padding;
    margin: $overview-item-margin;
    @include border-left-color('primary-bc'); @include transition(border-color);
    border-left-style: solid;
    border-left-width: 1px;

    &__with-time-line {
      @include border-left-color('secondary-fc-dark');
    }
  } @else if $type == 'entry' {
    padding: $overview-item-padding;
    margin: $overview-item-margin;
  } @else {
    @warn 'Container type \'#{$type}\' didn\'t define.';
  }
}

// create an link
// @param   {enumerable string}  type: the type of the link
@mixin item-link ($type) {
  @if $type == 'bar' {
    display: block;
    padding: $overview-link-bar-padding;
    margin: $overview-link-bar-margin;
    @include background-color('primary-bc-dark'); @include transition(background-color);
    @include color('secondary-fc'); @include transition(color);

    &:hover {
      @include background-color('primary-bc-light');
      @include color('primary-fc');
    }
  } @else if $type == 'tag' {
    display: inline-block;
    padding: $overview-link-tag-padding;
    margin: $overview-link-tag-margin;
    border-style: solid; border-width: 1px; border-radius: 5px;
    @include background-color('primary-bc-dark'); @include transition(background-color);
    @include color('secondary-fc'); @include transition(color);

    &:hover {
      @include background-color('primary-bc-light');
      @include color('primary-fc');
    }
  } @else {
    @warn 'Link type \'#{$type}\' didn\'t define.';
  }
}

@include scope('.s-overview') {
  .overview {
    width: 100%;
    height: 100%;
    padding: $overview-padding;
    margin: 0 !important;
    overflow-y: auto;
    @include color('primary-fc');
    font-size: 1rem;
    @include background-color('primary-bc');
    @include transition((color, background-color));

    &_link {
      @extend %overview-anchor;
    }

    &_btn {
      @extend %overview-btn;

      &:hover {
        @extend %overview-btn:hover;
      }
    }

    &_header {}

    &_main {}

    &_zone {}

    &_block {
      padding: $overview-block-padding;
      margin: $overview-block-margin;
    }

    &_topic-nav {
      overflow: hidden;
      padding: $overview-topic-nav-padding;
      margin: $overview-topic-nav-margin;
    }

    &_topic-list {
      @extend %overview-ul;
      white-space: nowrap;
      &::after {
        // Simulate the style of .overview_topic-list-item > .overview_topic-list-heading for avoiding topic heading joggling in mobile device
        display: inline-block;
        // content: 'Zheeeng';
        padding: scale-list($overview-topic-item-padding, (1 0 1 0));
        margin: scale-list($overview-topic-item-margin, (1 0 1 0));
        font-size: 2em;
        width: 0;
        visibility: hidden;
      }
    }

    &_topic-item {
      display: inline-block;
      padding: $overview-topic-item-padding;
      margin: $overview-topic-item-margin; @include transition(margin);
      font-style: italic;
      &__selected {
        margin: scale-list($overview-topic-item-margin, (1 10 1 1));
        font-style: normal;
      }
      &:nth-last-child(3)#{&}__selected {
        margin: scale-list($overview-topic-item-margin, (1 6 1 1));
      }
      &:nth-last-child(2)#{&}__selected {
        margin: scale-list($overview-topic-item-margin, (1 3 1 1));
      }
      &:last-child#{&}__selected {
        margin: $overview-topic-item-margin;
      }
    }
    &_topic-list:hover &_topic-item {
      margin: $overview-topic-item-margin;
      font-style: normal;
    }

    &_topic-heading {
      @extend %overview-h1;
      &:hover {
        @extend %overview-h1:hover;
      }
    }
    &_topic-item__selected &_topic-heading {
      @extend %overview-h1:hover;
    }

    &_heading {
      @include item-wrapper('heading');
      @extend %overview-h2;
    }
  }
}

.overview-icon {
  position: absolute;
  left: -1em;
  color: inherit; font-size: .75em;
  @include background-color('primary-bc'); @include transition(background-color);
  @include transition(color);

  a > & {
    @include color('secondary-fc-dark');
  }
  a:visited > & {
    @include color('accent');
  }

  &_wrapper {
    @include color('secondary-fc-dark'); @include transition(color);
  }

  &_itself {}
}

.overview-post {
  @include item-wrapper('heading');

  &_title {
    @extend %overview-h3;
  }
  &:hover &_title {
    @extend %overview-h3:hover;
  }

  &_excerpt {
    @extend %overview-p;
  }
  &:hover &_excerpt {
    @extend %overview-p:hover;
  }

  &_meta {
    @extend %overview-meta;
  }

  &_meta-date {
    @extend %overview-meta-element;
  }
  &:hover &_meta-date {
    @extend %overview-meta-element:hover;
  }

  &_meta-comments {
    @extend %overview-meta-element;
  }
  &:hover &_meta-comments {
    @extend %overview-meta-element:hover;
  }

  &_view-more {
    padding: $overview-block-padding;
    margin: $overview-block-margin;
    text-align: center;
  }
}

.overview-categories {
  &_link {
    @extend %overview-anchor;
    @include item-link('bar');
  }
  &_name {
  }
}

.overview-tags {
  display: inline-block;

  &_container {
    @include item-wrapper('entry');
  }

  &_link {
    @extend %overview-btn;
    @include item-link('tag');
  }
  &_name {
  }
}

.overview-archive {
  &_link {
    @extend %overview-anchor;
    @include item-link('bar');
  }
  &_date {

  }
  &_count {
    float: right;
  }
}
