<div class="overview_page">
  <!-- Start: Search Articles -->
  <div class="overview_zone">
    <h1 class="overview_heading">
      <span class="fa-stack overview-icon">
        <i class="fa fa-circle-thin fa-stack-2x overview-icon_wrapper"></i>
        <i class="fa fa-search fa-stack-1x overview-icon_itself"></i>
      </span>
      <a href="">Search Articles...</a>
    </h1>
  </div>
  <!-- End: Search Articles -->

  <!-- Start: Latest Articles -->
  <div class="overview_zone">
    <h1 class="overview_heading overview_heading__with-time-line">
      <span class="fa-stack overview-icon">
        <i class="fa fa-circle-thin fa-stack-2x overview-icon_wrapper"></i>
        <i class="fa fa-bars fa-stack-1x overview-icon_itself"></i>
      </span>
      <a href="#">Latest Articles</a>
    </h1>

    <ul>
      {% for post in site.posts %}
      <li class="overview-post overview-post__with-time-line">
        <h2 class="overview-post_title">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <span class="fa-stack overview-icon">
              <i class="fa fa-circle-thin fa-stack-2x overview-icon_wrapper"></i>
              <i class="fa fa-circle fa-stack-1x overview-icon_itself"></i>
            </span>
            {{ post.title }}
          </a>
        </h2>
        <p class="overview-post_excerpt">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
          </a>
        </p>
        <div class="overview-post_meta">
          <p>
            <a href="{{ post.url | prepend: site.baseurl }}">
              posted on <span class="overview-post_meta-date">{{ post.date | date: "%b %-d, %Y" }} </span>
              comments: <span class="overview-post_meta-comments">120</span>
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>

    <div class="overview-post_view-more-articles">
      <a class="overview-post_btn" href="#">VIEW MORE</a>
    </div>

  </div>
  <!-- End: Latest Articles -->

  <!-- Start: Categories -->
  <div class="overview_zone">

    <h1 class="overview_heading">
      <span class="fa-stack overview-icon">
        <i class="fa fa-circle-thin fa-stack-2x overview-icon_wrapper"></i>
        <i class="fa fa-book fa-stack-1x overview-icon_itself"></i>
      </span>
      <a href="">Categories</a>
    </h1>

    <ul>
      <li class="overview-categories">
        <a class="overview-categories_link" href="#">
          <span class="overview-categories_name">Tech</span>
        </a>
      </li>
      <li class="overview-categories">
        <a class="overview-categories_link" href="#">
          <span class="overview-categories_name">Life</span>
        </a>
      </li>
      <li class="overview-categories">
        <a class="overview-categories_link" href="#">
          <span class="overview-categories_name">Sport</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- End: Categories -->

  <!-- Start: Tags -->
  <div class="overview_zone">

    <h1 class="overview_heading">
      <span class="fa-stack overview-icon">
        <i class="fa fa-circle-thin fa-stack-2x overview-icon_wrapper"></i>
        <i class="fa fa-tags fa-flip-vertical fa-stack-1x overview-icon_itself"></i>
      </span>
      <a href="">Tags</a>
    </h1>

    <ul class="overview-tags_container">
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Jekyll (4)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Linux (7)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Apache (2)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Node.js (3)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Angular.js (4)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">JS (21)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Go (11)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">PHP (13)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Apple (1)</span>
        </a>
      </li>
      <li class="overview-tags">
        <a class="overview-tags_link" href="#">
          <i class="fa fa-tag fa-flip-vertical">&nbsp;</i>
          <span class="overview-tags_name">Design (19)</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- End: Tags -->

  <!-- Start: Archives -->
  <div class="overview_zone">

    <h1 class="overview_heading">
      <span class="fa-stack overview-icon">
        <i class="fa fa-circle-thin fa-stack-2x overview-icon_wrapper"></i>
        <i class="fa fa-archive fa-stack-1x overview-icon_itself"></i>
      </span>
      <a href="">Archives</a>
    </h1>

    <ul>
      <li class="overview-archive">
        <a class="overview-archive_link" href="#">
          <span class="overview-archive_date">August</span>
          <span class="overview-archive_count">11</span>
        </a>
      </li>
      <li class="overview-archive">
        <a class="overview-archive_link" href="#">
          <span class="overview-archive_date">July</span>
          <span class="overview-archive_count">121</span>
        </a>
      </li>
      <li class="overview-archive">
        <a class="overview-archive_link" href="#">
          <span class="overview-archive_date">2015</span>
          <span class="overview-archive_count">181</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- End: Archives -->
</div>
